@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EEF3EA;
    --foreground: #100b0b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 6%;
  align-items: center;
}

.nav-links{
  gap: 24px;
  display: flex;
  align-items: center;
}