@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #EEF3EA;
  --foreground: #100b0b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  font-family: 'Inter', sans-serif;

}

.nav-links{
  gap: 24px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.nav-logo {
  font-size: 48px;
  font-weight: 800;
  color: #2F4538;
  text-decoration: none;
  line-height:1;
  font-family: 'Inter',sans-serif;
}

.nav-logo span{
  color: #689368;
}

.signup-button{
  color: white;
  background-color: #2F4538;
  padding: 8px 20px;
  border-radius: 12px;
}

/* hero section*/

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 60px 24px; 
}

.hero-content h1{
  font-size: 60px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 16px;
}

.hero-content h1 span{
  color: #689368;
  font-style: italic;
}

.hero-content p {
  max-width: 350px;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 16px;
}

.hero-actions {
  display: flex;
  gap: 12px;
}

/* Sign Up page */

/* Sign-Up */
.sign-up { 
  display: flex;
  justify-content: center;
  align-items: center; 
}

/* hotel page */

.hotel-image {
  display: flex;
  align-items: center;
  gap: 15px;
}
