@import "tailwindcss";


:root {
  --background: #EEF3EA;
  --foreground: #100b0b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 6%;
  align-items: center;
  font-family: 'Inter', sans-serif;

}

.nav-links{
  gap: 24px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.nav-logo {
  font-size: 48px;
  font-weight: 800;
  color: #2F4538;
  text-decoration: none;
  line-height:1;
  font-family: 'Inter',sans-serif;
}

.nav-logo span{
  color: #689368;
}